#header {
  background-color: #3C8DBC;
  padding: 12px 0;
}
.titleshow {
  display: inline-block;
  color: white;
  cursor: pointer;
}
#logoimg {
  vertical-align: middle;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
#title {
  margin: 0;
  display: inline;
  vertical-align: middle;
}
#system-version {
  line-height: normal;
  vertical-align: -50%;
}
.top-left {
  text-align: right;
  height: 50px;
  line-height: 50px;
}
.top-right {
  height: 57px;
  line-height: 57px;
}
.top-left-sub {
  display: inline-block;
  color: white;
  font-size: 130%;
  padding: 0 16px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}
.top-left-sub:hover {
  background-color: #75B0BD;
  border-radius: 8px;
}
.header-username {
  padding: 0 8px;
}
#body {
  background-color: #F5F5F5;
}
.short-tree {
  background-color: #334350;
  height: 700px;
  color: white;
  text-align: center;
  cursor: pointer;
  padding-top: 12px;
  font-size: 150%;
}
.mywork {
  font-size: 150%;
  padding-bottom: 12px;
  background-color: #e5e5e5;
}
.tree-hidden-li {
  border: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.tree-wrap {
  margin-right: 3px;
  padding-right: 3px;
  border-right: 2px solid #c3c3c3;
}
.subtree {
  padding-right: 3px;
  border-radius: 0;
  border-right: 1px solid #D4D4D4;
  height: 700px;
}
.subtree-text {
  padding-left: 12px;
}
.breadcrumadd {
  border-bottom: 1px solid #D4D4D4;
  border-radius: 0;
  margin-bottom: 10px;
  padding-left: 0;
}
.breadcrumadd > i {
  color: #3C8DBC;
}
.content {
  background-color: white;
  min-height: 650px;
  border-top: 1px solid #D4D4D4;
}
.nocolpadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
