<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{static_url('css/font-awesome.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{static_url('css/login.css')}}">
  <script type="text/javascript" src="{{static_url('js/jquery-3.0.0.min.js')}}"></script>
  <script type="text/javascript" src="{{static_url('js/login.js')}}"></script>
  <script type="text/javascript" src="{{static_url('js/md5.js')}}"></script>
</head>
<body>
  	<div class="box">
  		<h2 class="title">
  			<span class="title-login" >登录</span>
  			<span class="title-forget" style="display:none">忘记密码</span>
  		</h2>
  		<form class="login-box " >
            {% raw xsrf_form_html() %}
  			<div class="form-group">
  				<div class="input-group">
	  				<span class="input-group-addon"><i class="fa fa-user"></i></span>
	  				<input type="text" name="username" id="username" class="form-control">
	  			</div>
  			</div>
  			<div class="form-group">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
  					<input type="password" name="password" id="password" class="form-control">
  				</div>
  			</div>
  			<!--<div class="form-group">-->
  				<!--<div class="input-group">-->
  					<!---->
  				<!--</div>-->
  			<!--</div>-->
  			<div class="from-group usercontrol" style="overflow:hidden;line-height:30px;">
  				<label style="padding-right:24px;"><input type="checkbox" name="remeber" id="remeber" class="">&nbsp;&nbsp;记住密码</label>
				<a href="" id="click-forgetpassword">忘记密码</a>
  				<input type="button" name="login" id="login" class="btn btn-success " value="登 录" style="padding-left:20px;padding-right:20px;font-weight:900;">
  			</div>
  		</form>
  		<form class="resetbox" style="display:none">
  			<div class="form-group">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-user"></i></span>
  					<input type="text" name="username" id="username" class="form-control">
  				</div>
  			</div>
  			<div class="form-group">
  				<div class="input-group">
  					<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
  					<input type="email" name="email" id="email" class="form-control">
  				</div>
  			</div>
  			<div class="form-group " style="text-align:center ">
  				<input type="button" name="returnlogin" id="returnlogin" class="btn btn-success" value="返回" style="margin-right:20px;">
  				<input type="button" name="sendEmail" id="sendEmail" class="btn btn-primary" value="确认">
  			</div>
  		</form>
  	</div>
</body>
<script type="text/javascript">
	$(function(){
		// 切换登录和忘记密码
		$("#click-forgetpassword,#returnlogin").on('click', function(event) {
			event.preventDefault();
			$(".title span").toggle();
			$(".login-box ").fadeToggle();
			$(".resetbox").fadeToggle();
		});
		// 表单验证
		// 邮箱规则
		var Regemail =/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
		var data = '1358925129@qq.com';
			Regemail.test(data);
	})
</script>
</html>